
<h1>Administrar Proyecto</h1>

<%= render 'form', proyecto: @proyecto %>

<%= link_to 'Mostrar', @proyecto, :class => "btn btn-outline-primary" %> 
<%= link_to 'Regresar', proyectos_path, :class => "btn btn-outline-warning" %>
