<div class="p-3 mb-2 bg-dark text-white">INGRESO DE DEPARTAMENTOS:</div>
<br>
<form class="form-horizontal" role="form">
    <div class="form-group">
             <label for="input_name" class="col-lg-2 control-label">Nombre del Proyecto</label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="input_name" placeholder="Ejem. Zolanchs Rivera">
        </div>
    </div>


     <div class="form-group">
             <label for="input_name" class="col-lg-2 control-label">Dirección</label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="input_direccion" placeholder="Ejem. Av. 255">
        </div>
    </div>

    <div class="form-group">
             <label for="depa" class="col-lg-2 control-label">Piso </label>
     <div class="col-lg-10">
            <select type="text" class="custom-select custom-select-sm" placeholder="Distrito">
                    <option value="1">5</option>
                    <option value="2">8</option>
                    <option value="3">10</option>
                    <option value="4">12</option>
                    <option value="4">16</option>
                    <option value="4">20</option>
                    <option value="4">24</option>
            </select>
      </div>
      </div>

     <div class="form-group">
             <label for="depa" class="col-lg-2 control-label">Área </label>
     <div class="col-lg-10">
            <select type="text" class="custom-select custom-select-sm" placeholder="Distrito">
                    <option value="1">72m2</option>
                    <option value="2">76m2</option>
                    <option value="3">50.2m2</option>
            </select>
      </div>
      </div>

     <div class="form-group">
             <label for="depa" class="col-lg-2 control-label">N° habitaciones </label>
     <div class="col-lg-10">
            <select type="text" class="custom-select custom-select-sm" placeholder="Distrito">
                    <option value="1">2</option>
                    <option value="2">3</option>
                    <option value="3">4</option>
                    <option value="4">5</option>
                    <option value="4">6</option>
            </select>
      </div>

  	<div class="form-group">
    	<label for="depa" class="col-lg-2 control-label">Adjuntar Imagen </label>
    	<br>
    	<div class="col-lg-10">
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
     </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Guardar</button>
    </div>
  </div>
</form>