<div class="p-3 mb-2 bg-dark text-white">INGRESO DE USUARIO NUEVO:</div>
<br>
<form class="form-horizontal" role="form">
    <div class="form-group">
             <label for="input_name" class="col-lg-2 control-label">DNI</label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="input_name" placeholder="Ejem. 78945612">
        </div>
    </div>


     <div class="form-group">
             <label for="input_name" class="col-lg-2 control-label">Nombres y Apellidos</label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="input_direccion" placeholder="Ejem.Zolanchs Rivera">
        </div>
    </div>

    <div class="form-group">
             <label for="depa" class="col-lg-2 control-label">Perfil </label>
     <div class="col-lg-10">
            <select type="text" class="custom-select custom-select-sm" placeholder="Distrito">
                    <option value="1">SuperAdministrador</option>
                    <option value="2">Administrador</option>
                    <option value="3">Visualizar</option>

            </select>
      </div>
      </div>

       <div class="form-group">
             <label for="depa" class="col-lg-2 control-label">Perfil </label>
     <div class="col-lg-10">
            <select type="text" class="custom-select custom-select-sm" placeholder="Distrito">
                    <option value="1">Activo</option>
                    <option value="2">Desactivo</option>

            </select>
      </div>
      </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Guardar</button>
    </div>
  </div>
</form>