<div class="p-3 mb-2 bg-dark text-white">INGRESO DE BAUCHER:</div>
<br>
<form class="form-horizontal" role="form">
    <div class="form-group">
             <label for="input_name" class="col-lg-2 control-label">Nombre del Proyecto</label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="input_name" placeholder="Ejem. SAN MIGUEL">
        </div>
    </div>


     <div class="form-group">
             <label for="input_name" class="col-lg-2 control-label">Departamento</label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="input_direccion" placeholder="Ejem. DEPA100">
        </div>
    </div>

      <div class="form-group">
             <label for="input_name" class="col-lg-2 control-label">DNI</label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="input_direccion" placeholder="12345678">
        </div>
    </div>

       <div class="form-group">
             <label for="input_name" class="col-lg-2 control-label">Nombre y Apellidos</label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="input_direccion" placeholder="ejem. Zol Rivera">
        </div>
    </div>

    <div class="form-group">
             <label for="depa" class="col-lg-2 control-label">Tipo de Pago </label>
     <div class="col-lg-10">
            <select type="text" class="custom-select custom-select-sm" placeholder="Distrito">
                    <option value="1">Contado</option>
                    <option value="2">Credito</option>
            </select>
      </div>
      </div>

     <div class="form-group">
             <label for="depa" class="col-lg-2 control-label">Banco </label>
     <div class="col-lg-10">
            <select type="text" class="custom-select custom-select-sm" placeholder="Distrito">
                    <option value="1">BBVAS</option>
                    <option value="1">BBVAD</option>
                    <option value="2">BCPS</option>
                    <option value="2">BCPD</option>
                    <option value="2">SCOTIABANKS</option>
                    <option value="2">SCOTIABANKD</option>
            </select>
      </div>
      </div>

       <div class="form-group">
             <label for="input_name" class="col-lg-2 control-label">N° Operación</label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="input_direccion" placeholder="ejem. 123456">
        </div>
    </div>



     <div class="form-group">
             <label for="depa" class="col-lg-2 control-label">Moneda </label>
     <div class="col-lg-10">
            <select type="text" class="custom-select custom-select-sm" placeholder="Distrito">
                    <option value="1">Soles</option>
                    <option value="2">Dolares</option>
            </select>
      </div>

          <div class="form-group">
             <label for="input_name" class="col-lg-2 control-label">Monto Total</label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="input_direccion" placeholder="ejem. 745000.00">
        </div>
    </div>

       <div class="form-group">
             <label for="input_name" class="col-lg-2 control-label">Separación</label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="input_direccion" placeholder="ejem. 8000.00">
        </div>
    </div>

           <div class="form-group">
             <label for="input_name" class="col-lg-2 control-label">Monto Deposito</label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="input_direccion" placeholder="ejem. 730000.00">
        </div>
    </div>


  	<div class="form-group">
    	<label for="depa" class="col-lg-2 control-label">Adjuntar Baucher </label>
    	<br>
    	<div class="col-lg-10">
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
     </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Guardar</button>
    </div>
  </div>
</form>