
<%= content_for :head do%>
	<title>Nuevo Hogar</title>
<% end %>
<%= content_for :intro do%>
<br>
	<h3>Busca el nuevo lugar para tu hogar</h3>
<% end %>
<body>

<br>
<form>
  <div class="form-group col-md-4">
    <label for="exampleFormControlInput1">Distrito</label>
    <select type="text" class="form-control" placeholder="Seleccionar">
		<option selected>Todos</option> 
		<option value="1">San Miguel</option>
		<option value="2">San Isidro</option>
		<option value="3">Magdalena</option>
    </select>
  </div>
    <div class="form-group col-md-4">
    <label for="exampleFormControlInput1">Área</label>
    <select class="form-control" id="exampleFormControlSelect1">
		<option selected>Todos</option> 
			<option value="1">75m2</option>
			<option value="2">70m2</option>
			<option value="3">48.2m2</option>
		</select>
 	</div>
    <div class="form-group col-md-4">
    <label for="exampleFormControlInput1">Habitaciones</label>
		<select class="form-control" id="exampleFormControlSelect1">
			<option selected>Todos</option> 
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>
 	</div>
	<div class="form-group col-md-4">
    <label for="exampleFormControlInput1">Precio</label>
		<select class="form-control" id="exampleFormControlSelect1">
			<option selected>Todos</option> 
			<option value="1">0 - 60000</option>
			<option value="2">60000 - 120000</option>
			<option value="3">120000 a más</option>
		</select>
 	</div>

</form>

<br>

<div class="row row-cols-1 row-cols-md-3">
	  <div class="col mb-4">
	    <div class="card">
	      <img src="\assets\im1.jpg" class="card-img-top" alt="...">
	      <div class="card-body">
	        <h5 class="card-title">Join - Jesús María VIP</h5>
	        <p class="card-text">Texto 1</p>
	      </div>
	    </div>
	  </div>
	  <div class="col mb-4">
	    <div class="card">
	      <img src="\assets\im2.jpg" class="card-img-top" alt="...">
	      <div class="card-body">
	        <h5 class="card-title">Floresta 411</h5>
	        <p class="card-text">Texto 2</p>
	      </div>
	    </div>
	  </div>
	  <div class="col mb-4">
	    <div class="card">
	      <img src="\assets\im3.jpg" class="card-img-top" alt="...">
	      <div class="card-body">
	        <h5 class="card-title">Diez Canseco 489</h5>
	        <p class="card-text">Texto 3</p>
	      </div>
	    </div>
	  </div>
	  <div class="col mb-4">
	    <div class="card">
	      <img src="\assets\im4.jpg" class="card-img-top" alt="...">
	      <div class="card-body">
	        <h5 class="card-title">Proyecto 4</h5>
	        <p class="card-text">Texto 4</p>
	      </div>
	    </div>
	  </div>
	</div>
</body>