<%= content_for :head do%>
	<title>Acceder</title>
<% end %>
<body>

	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Ingresar</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="usuario" id="login-name">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<br>

				<div class="control-group">
				
				<input type="password" class="login-field" value="" placeholder="contraseña" id="login-pass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				
				</div>
				<br>

				<div class="form-group col-md-2">
				<a class="btn btn-primary" href="/home/index2">Ingresar</a>
				<br>
				<a class="login-link" href="#">Has olvidado tu contraseña?</a>
			   </div>

			  
		</div>
	</div>
	</div>
</body>