<div class="p-3 mb-2 bg-dark text-white">ADMINISTRACIÓN DE DEPARTAMENTOS:</div>
<br>
<a class="btn btn-primary" href="/static/ingProyecto">Añadir</a>
<img src="https://i.ibb.co/LQrKZGr/dp1.png" class="rounded float-right" alt="...">
<br>

<style>
  /* Cambios sobre la propia tabla */
  table {
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  /* Espacio de relleno en celdas y cabeceras */
  td,
  th {
    padding: 10px;
  }
  /* Modificación de estilos en cabeceras */
  th {
    background: #000;
    color: #fff;
    text-transform: uppercase;
  }
  /* Modificación de estilos en celdas */
  td {
    text-align: center;
    border-bottom: 2px solid #111;
    color: #333;
    font-size: 18px;
  }
</style>
<br>
<table>
  <tr>
    <th>Nombre Proyecto </th>
    <th>Dirección </th>
    <th>Pisos</th>
    <th>Área</th>
    <th>N° habitaciones</th>
    <th>Estado</th>
    <th>Imagen</th>
    <th></th>
  </tr>

  <tr>
    <td>SAN ISIDRO</td>
    <td>Av. Javier Prado </td>
    <td>20</td>
    <td>350m2</td>
    <td>60</td>
    <td>Disponible</td>
    <td><a href="#" class="alert-link">imagen</a></td>
    <td><a href="#" class="text-primary">Editar</a></td>
  </tr>

  <tr>
    <td>SAN MIGUEL </td>
    <td>Av. La Paz </td>
    <td>8</td>
    <td>420ms</td>
    <td>60</td>
    <td>Disponible</td>
    <td><a href="#" class="alert-link">imagen</a></td>
    <td><a href="#" class="text-primary">Editar</a></td>
  </tr>

   <tr>
    <td>MAGDALENA </td>
    <td>Av. Magdalena</td>
    <td>12</td>
    <td>200m2</td>
    <td>60</td>
    <td>Disponible</td>
    <td><a href="#" class="alert-link">imagen</a></td>
    <td><a href="#" class="text-primary">Editar</a></td>
  </tr>
</table>
<img src="https://i.ibb.co/z5gKZPq/dp2.png" class="rounded float-right" alt="...">