<div class="p-3 mb-2 bg-dark text-white">ADMINISTRACIÓN DE USUARIOS:</div>
<br>
<a class="btn btn-primary" href="/static/IngresoProyecto">Añadir Nuevo Usuario</a>
<img src="https://i.ibb.co/LQrKZGr/dp1.png" class="rounded float-right" alt="...">
<br>

<style>
  /* Cambios sobre la propia tabla */
  table {
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  /* Espacio de relleno en celdas y cabeceras */
  td,
  th {
    padding: 10px;
  }
  /* Modificación de estilos en cabeceras */
  th {
    background: #000;
    color: #fff;
    text-transform: uppercase;
  }
  /* Modificación de estilos en celdas */
  td {
    text-align: center;
    border-bottom: 2px solid #111;
    color: #333;
    font-size: 18px;
  }
</style>
<br>
<table>
  <tr>
    <th>DNI</th>
    <th>Nombres y Apellidos</th>
    <th>Perfil</th>
    <th>Estado</th>
    <th></th>
  </tr>

  <tr>
    <td>12345678</td>
    <td>Zolanchs Rivera</td>
    <td>SuperAdministrador</td>
    <td>Activo</td>
    <td><a href="#" class="alert-link">Imagen</a></td>
    <td><a href="#" class="text-primary">Editar</a></td>
  </tr>

  <tr>
    <td>78945612</td>
    <td>Ana Cumpa Vargas</td>
    <td>Visualizador</td>
    <td>Desactivado</td>
    <td><a href="#" class="alert-link">Imagen</a></td>
    <td><a href="#" class="text-primary">Editar</a></td>
  </tr>

   <tr>
    <td>45678123</td>
    <td>Walter Barrios Silva</td>
    <td>Administrador</td>
    <td>Activo</td>
    <td><a href="#" class="alert-link">imagen</a></td>
    <td><a href="#" class="text-primary">Editar</a></td>
  </tr>
</table>
<img src="https://i.ibb.co/z5gKZPq/dp2.png" class="rounded float-right" alt="...">