<%= content_for :head do%>
	<title>Contáctenos</title>
<% end %>

<%= content_for :intro do%>
  <h3>Contáctenos</h3>
  <p>Para contactarnos debe ingresar sus datos en el siguiente formulario</p>
<% end %>


<div class="row">
  <div class="col-5">
    <form class="form-horizontal" role="form">
      <div class="form-group">
          <label for="input_name" class="col-lg-8 control-label">Nombres y Apellidos</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="input_name">
        </div>
      </div>

      <div class="form-group">
          <label for="email" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="email" class="form-control" id="email">
        </div>
      </div>

      <div class="form-group">
          <label for="num_dni" class="col-lg-2 control-label">DNI</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="num_dni"
          placeholder="Ingrese su DNI">
        </div>
      </div>

      <div class="form-group">
          <label for="num_celular" class="col-lg-8 control-label">Teléfono / móvil </label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="num_celular"
          placeholder="Ingrese su DNI">
        </div>
      </div>

      <div class="form-group">
          <label for="depa" class="col-lg-8 control-label">Proyecto Interesado </label>
        <div class="col-lg-10">
          <select type="text" class="custom-select custom-select-sm">
            <option value="1">Cualquiera</option>
            <% @proyectos.each do |proyecto| %>
              <option value=@proyectos.id><%= proyecto.nombre %></option>
            <% end %>
          </select>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Acepta los términos y condiciones
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button type="submit" class="btn btn-default">Enviar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-4">
    <br>
      <iframe width="400" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Universidad%20Peruana%20de%20Ciencias%20Aplicadas&key=AIzaSyA-mX5Z7eJL5GKASzo5gSNavXxX748a5Y4" allowfullscreen> </iframe>
  </div>
</div>











































