<%= content_for :head do%>
	<title>Nosotros</title>
<% end %>

<%= content_for :intro do%>
	<title>Contactenos</title>
<% end %>

<form class="form-horizontal" role="form">
    <div class="form-group">
             <label for="input_name" class="col-lg-2 control-label">Nombre y Apellido</label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="input_name" placeholder="Ejem. Zolanchs Rivera">
        </div>
    </div>

    <div class="form-group">
              <label for="email" class="col-lg-2 control-label">Email</label>
         <div class="col-lg-10">
             <input type="email" class="form-control" id="email"
             placeholder="Ejem. zolanchs@gmail.com">
          </div>
     </div>


     <div class="form-group">
              <label for="num_dni" class="col-lg-2 control-label">DNI</label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="num_dni"
             placeholder="Ingrese su DNI">
        </div>
    </div>

    <div class="form-group">
              <label for="num_celular" class="col-lg-2 control-label">Teléfono / móvil </label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="num_celular"
             placeholder="Ingrese su DNI">
        </div>
    </div>

     <div class="form-group">
              <label for="depa" class="col-lg-2 control-label">Proyecto Interesado </label>
        <div class="col-lg-10">
            <select type="text" class="custom-select custom-select-sm" placeholder="Distrito">
                    <option value="1">San Miguel</option>
                    <option value="2">San Isidro</option>
                    <option value="3">Magdalena</option>
                    <option value="4">Miraflores</option>
            </select>
        </div>
     </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Acepta los termino y condiciones
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Enviar</button>
    </div>
  </div>
</form>