<div class="p-3 mb-2 bg-dark text-white">REPORTE VENTAS:</div>
<br>

<a class="btn btn-primary" href="/static/ingVentas">Anadir Deposito</a>

<br>


<style>
  /* Cambios sobre la propia tabla */
  table {
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  /* Espacio de relleno en celdas y cabeceras */
  td,
  th {
    padding: 10px;
  }
  /* Modificaci贸n de estilos en cabeceras */
  th {
    background: #000;
    color: #fff;
    text-transform: uppercase;
  }
  /* Modificaci贸n de estilos en celdas */
  td {
    text-align: center;
    border-bottom: 2px solid #111;
    color: #333;
    font-size: 18px;
  }
</style>
<br>
<table>
  <tr>
    <th>Proyecto</th>
    <th>Departamento</th>
    <th>DNI</th>
    <th>Nombre y Apellidos</th>
    <th>Tipo Pago</th>
    <th>Banco</th>
    <th>Operaci贸n</th>
    <th>Moneda</th>
    <th>MontoTotal</th>
    <th>Separaci贸n</th>
    <th>Depositado</th>
    <th>Baucher</th>
    <th> </th>
  </tr>

  <tr>
    <td>Proyecto1</td>
    <td>Depa1</td>
    <td>78945612</td>
    <td>Zolanchs Rivera</td>
    <td>Contado</td>
    <td>BCPS</td>
    <td>124563</td>
    <td>Soles</td>
    <td>745000.00</td>
    <td>6000.00</td>
    <td>739000.00</td>
    <td><a href="#" class="alert-link">baucher</a></td>
    <td><a href="#" class="text-primary">Editar</a></td>
  </tr>

   <tr>
    <td>Proyecto1</td>
    <td>Depa10</td>
    <td>74185296</td>
    <td>Walter Barrios</td>
    <td>Creditos</td>
    <td>BCPS</td>
    <td>124563</td>
    <td>Soles</td>
    <td>743000.00</td>
    <td>6000.00</td>
    <td>736000.00</td>
    <td><a href="#" class="alert-link">baucher</a></td>
    <td><a href="#" class="text-primary">Editar</a></td>
  </tr>

   <tr>
    <td>Proyecto1</td>
    <td>Depa110</td>
    <td>85274136</td>
    <td>Ana Cumpa</td>
    <td>Contado</td>
    <td>BBVAS</td>
    <td>124563</td>
    <td>Soles</td>
    <td>743000.00</td>
    <td>6000.00</td>
    <td>736000.00</td>
    <td><a href="#" class="alert-link">baucher</a></td>
    <td><a href="#" class="text-primary">Editar</a></td>
  </tr>

</table>
