<%= content_for :head do%>
	<title>Nosotros</title>
<% end %>

<div class="card mb-3">
  <img class="card-img-top" src="https://i.ibb.co/SwzcjZ7/fondo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-tex">Misión </h5>
    <p class="card-text">Brindar el mejor servicio a nuestros clientes, cumpliendo con las exigencias del mercado y las de construcción.</p>
    <br>
    <h5 class="card-texr">Visión </h5>
    <p class="card-tex">Ser la empresa referente en el negocio inmobiliario de manera rentable y sostenible, creando una experiencia única en nuestros clientes y construyendo su legado a través de un equipo comprometido y motivado.</p>
  </div>
</div>
