<h1><p class="text-primary">Editar cita</p></h1>

<%= render 'form', citum: @citum %>

<%= link_to 'Mostrar', @citum, :class => "btn btn-outline-info" %>
<%= link_to 'Regresar', cita_path, :class => "btn btn-outline-secondary" %>
<br><br>
